body {
    margin: 0;
    background-size: cover;
    background-position: center;
}

h2 {
    font-family: monospace;
    color: #000000;
    padding-left: 2em;
    margin-top: 2em;
}

h3 {
    font-family: monospace;
    color: #ffffff;
    padding-left: 2em;
    margin-top: 2em;
}

p {
    color: #000000;
    max-width: 45em;
}

p2 {
    color: #ffffff;
    max-width: 45em;
}

b {
    color: rgb(255, 196, 0);
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

nav {
    display: block;
    width: 100%;
    margin: 0 auto 30px;
}

.menu ul {
    margin-top: 25px;
    height: 50px;
    background: rgb(71, 71, 71);
    padding-left: 0;
}

.menu a {
    color: rgb(0, 0, 0);
    padding: 0px 15px;
    font-family: arial;
    line-height: 50px;
    /*ровняем меню по вертикали*/
    display: block;
}

.menu a:hover {
    color: rgb(190, 0, 0);
}

.menu li {
    float: left;
    margin-right: 2em;
}

.container {
    margin: 0;
    display: flex;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: start;
}

.pic {
    max-width: 100%;
    margin-right: 3em;
}

.text {
    margin-left: 0;
    margin-top: 2em;
    background-size: cover;
    max-width: 45em;
}

table {
    margin-left: 2em;
}

.rating_title {
    margin-top: 2em;
    margin-right: 3em;
}

.div1 {
    border-bottom: 2px solid rgb(255, 0, 0);
    max-height: 80%;
    max-width: 82%;
}

.rating {
    outline: 0;
    width: 170px;
    font-family: tahoma;
    font-size: 25px;
    margin: 0;
    padding: 0;
    margin-top: 1.2em;
}

.rating_ball {
    font-size: 2em;
    font-family: tahoma;
    font-weight: normal !important;
    font-size: 32px;
    color: #000000 !important;
    outline: 0;
    margin: 0;
    padding: 0;
}

.rating_ball2 {
    font-size: 2em;
    font-family: tahoma;
    font-weight: normal !important;
    font-size: 32px;
    color: #ffffff !important;
    outline: 0;
    margin: 0;
    padding: 0;
}


.ratingCount {
    font-family: tahoma;
    font-weight: normal !important;
    color: #ffffff !important;
    outline: 0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.image {
    width: 240px;
    height: 320px;
}